<launch>

	<node name="Velodyne" pkg="pra_vale" type="velodyne" respawn="true"/>
	<node name="Camera" pkg="pra_vale" type="my_5cam.py" output="screen"/>
	<node name="Arm" pkg="pra_vale" type="arm.py" output="screen"/>
	<node name="imu_handler" pkg="pra_vale" type="imu_handler.py" output="screen"/>
	<node name="rosi_speed_handler" pkg="pra_vale" type="rosi_speed_handler.py" output="screen"/>
	<node name="state_handler" pkg="pra_vale" type="states_handler.py" output="screen"/>
	<node name="hokuyo" pkg="pra_vale" type="hokuyo.py" output="screen"/>

	<rosparam command="load" file="$(find pra_vale)/config/simulation_parameters.yaml" />

</launch>
