<launch>

	<!-- running the joystick node -->
	<node name="joy_node" pkg="joy" type="joy_node" respawn="true" />

	<!-- running the rosi joystick example node -->
	<node name="rosi_joy" pkg="pra_vale" type="rosi_joy.py" respawn="true"/>

	<rosparam command="load" file="$(find pra_vale)/config/simulation_parameters.yaml" />

</launch>
